<div class="pt-5 pb-3 bg-dark">
  <div class="container container-fluid">

      <div class="row d-flex justify-content-center">
          <!-- Logo Section -->
          <div class="col-12 col-md-6 col-xl-4">
              <img src="../../../../../assets/imgs/logo-encabezado.png" alt="Logo" width="150"
                  class="d-inline-block align-text-top">
              <p class="text-white-50">
                  Morbi cursus porttitor enim lobortis molestie. Duis gravida turpis dui, eget bibendum magna congue
                  nec.
              </p>
              <p>
                  <a href="" class="text-none fw-bold pointer" style="color: var(--bs-blue-400);">
                      (219) 555-0114
                  </a> &nbsp;
                  <span class="text-white-50">O al</span>
                  &nbsp;
                  <a href="" class="text-none fw-bold pointer" style="color: var(--bs-blue-400);">
                      Proxy&#64;gmail.com
                  </a>
              </p>
          </div>
          <div class="col-6 col-md-3 col-xl-2">
              <h4 class="fw-bold text-white">Cuenta</h4>
              <p><a [routerLink]="['/auth']" routerLinkActive="text-white" class="text-none linkk">Mi cuenta</a></p>
              <p><a [routerLink]="['/auth']" routerLinkActive="text-white" class="text-none linkk">Mis órdenes</a></p>
              <p><a [routerLink]="['/auth']" routerLinkActive="text-white" class="text-none linkk">Mi carrito de
                      compras</a></p>
              <p><a [routerLink]="['/auth']" routerLinkActive="text-white" class="text-none linkk">Mi lista de
                      deseos</a></p>
          </div>
          <div class="col-6 col-md-3 col-xl-2">
              <h4 class="fw-bold text-white">Ayuda</h4>
              <p><a [routerLink]="['/niveles']" routerLinkActive="text-white" class="text-none linkk">Niveles</a></p>
              <p><a [routerLink]="['/niveles']" routerLinkActive="text-white" class="text-none linkk">Preguntas
                      frecuentes</a></p>
              <p><a [routerLink]="['/terminos']" routerLinkActive="text-white" class="text-none linkk">Términos y
                      condiciones</a></p>
          </div>
          <div class="col-6 col-md-3 col-xl-2">
              <h4 class="fw-bold text-white">Secciones</h4>
              <p><a [routerLink]="['/']" routerLinkActive="text-white" class="text-none linkk">Inicio</a></p>
              <p><a [routerLink]="['/producto']" routerLinkActive="text-white" class="text-none linkk">Tienda</a></p>
              <p><a [routerLink]="['/niveles']" routerLinkActive="text-white" class="text-none linkk">Niveles</a></p>
              <p><a [routerLink]="['/auth']" routerLinkActive="text-white" class="text-none linkk">Login</a></p>
          </div>
          <div class="col-6 col-md-3 col-xl-2">
              <h4 class="fw-bold text-white">Categorías</h4>
              <!-- @for (item of categorias; track $index) {
              <p><a (click)="selectCategoria(item._id)" class="text-none pointer linkk">{{item.descripcion}}</a></p>
              } -->
          </div>
      </div>

      <hr style="border: 1px solid var(--bs-gray-200);">

      <div class="row">
          <div class="col-6 text-white">
              Bensam 2024. Todos los derechos reservados
          </div>
          <div class="col-6 d-flex justify-content-end">
              <a href="" class="text-none text-white px-3">
                  <i class="bi bi-facebook fs-5"></i>
              </a>
              <a href="" class="text-none text-white px-3">
                  <i class="bi bi-tiktok fs-5"></i>
              </a>
              <a href="" class="text-none text-white px-3">
                  <i class="bi bi-instagram fs-5"></i>
              </a>
          </div>
      </div>
  </div>
</div>
