<div class="axil-signin-area">
  <div class="row vh-100">
    <!-- Columna de la imagen -->
    <div class="col-lg-6 d-none d-lg-flex p-0">
      <img src="./assets/images/fondo-login.jpg" alt="Recuperar Contraseña" class="img-fluid w-100 h-100 object-fit-cover">
    </div>

    <!-- Columna del formulario -->
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
      <div class="axil-signin-form-wrap w-75 px-5">
        <div class="axil-signin-form text-center">
          <h3 class="title mb-4">Recuperar Contraseña</h3>
          <p class="b2 mb-4">Ingresa tu correo electrónico para recibir un enlace de recuperación.</p>
          <form class="singin-form">
            <div class="form-group mb-4">
              <label for="email" class="mb-2">Correo electrónico</label>
              <input type="email" id="email" class="form-control" name="email" placeholder="ejemplo@dominio.com" required>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="axil-btn btn-bg-primary submit-btn">Enviar correo</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
